<%- include('partials/header') %>

<h1>Home</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua. Pretium fusce id velit ut tortor pretium. Ipsum a arcu cursus vitae congue mauris rhoncus. Lorem ipsum dolor
    sit amet consectetur adipiscing elit. Mauris rhoncus aenean vel elit scelerisque mauris pellentesque pulvinar
    pellentesque. Odio tempor orci dapibus ultrices in iaculis nunc sed augue. Enim blandit volutpat maecenas volutpat
    blandit aliquam. Aliquet nibh praesent tristique magna sit amet. Placerat orci nulla pellentesque dignissim enim sit
    amet. Vivamus arcu felis bibendum ut tristique et egestas. Dapibus ultrices in iaculis nunc sed augue lacus viverra.
    In mollis nunc sed id semper. Eget egestas purus viverra accumsan in nisl nisi. Commodo elit at imperdiet dui
    accumsan sit amet nulla facilisi. Purus non enim praesent elementum facilisis leo vel. Dictum sit amet justo donec
    enim diam vulputate ut. Tristique sollicitudin nibh sit amet commodo nulla facilisi nullam vehicula. Mi bibendum
    neque egestas congue quisque egestas. Dui vivamus arcu felis bibendum. Leo vel fringilla est ullamcorper eget nulla
    facilisi etiam.</p>

<% for (let index = 0; index < listPost.length; index++) { %>
    <h2><%= listPost[index].title %></h2>
    <p><%= listPost[index].content.substr(0,100) %>...<a href="/posts/<%=listPost[index].title%>">Read More</a></p>
<% } %>


<%- include('partials/footer') %>